params {

  outdir = './output'
  reportdir = './reports'

}


profiles {

  local {
    process.executor = 'local'
  }

  standard {
    includeConfig 'conf/base.config'
  }

  docker {
    includeConfig 'conf/images.config'
    docker.enabled = true
  }

  singularity {
    includeConfig 'conf/images.config'
    includeConfig 'conf/lsf.config'
  }

  tower {
    accessToken = 'eyJ0aWQiOiA2fS5kNWQ4Mjk1YTQ0MzhkMGQzODExNTQ1ZjNiODU2NzZkYWY3ZDE3YjVi'
    enabled = true
    url = 'http://nf-tower.cellgeni.sanger.ac.uk/'
  }

}


timeline {
  enabled = false
  file = "${params.reportdir}/timeline.html"
}


trace {
  enabled = false
  file = "${params.reportdir}/trace.txt"
}
