process {

  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = 'ignore'

  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']

  // Process-specific resource requirements
  withlabel: 'python_36' {
    errorStrategy = { task.exitStatus == 130 ? 'retry' : 'ignore' }
    cpus = { 2 * task.attempt }
    memory = { 16.GB * task.attempt }
    maxForks = 20
  }

}
